%meta(name="twitter:card" content="summary_large_image")
%meta(name="twitter:site" content="@nearsoftjobs")
%meta(name="twitter:creator" content="@tilns")
%meta(name="twitter:title" content="Today I learned @ Nearsoft")
%meta(name="twitter:description" content="TIL NS is a repository for sharing & accumulating knowledge as it happens day-to-day.  Posts have 200-word limit and any Nearsoftian can contribute.")
%meta(name="twitter:image" content="https://tilns.herokuapp.com/til_twittercard.png")

- content_for :page_title, @post.title

- content_for :post_nav do
  - if @post.published? && multiple_posts?
    %ul
      - unless oldest_post? @post
        %li
          = link_to previous_post @post do
            &larr; previous TIL
      - unless newest_post? @post
        %li
          = link_to next_post @post do
            next TIL &rarr;

- content_for :social do
  - if @post.published?
    = tweet_link(@post)

%section#post_show
  = render @post
